{% extends "base.html" %}

{% block title %}Přidat recept{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.non_field_errors }}
    <h4>Ingredience</h4>

{{ formset.management_form }}
{% for subform in formset %}
    <div class="form-row mb-2">
        <div class="col">
            {{ subform.ingredient.label_tag }} {{ subform.ingredient }}
        </div>
        <div class="col">
            {{ subform.quantity.label_tag }} {{ subform.quantity }}
        </div>
    </div>

{% endfor %}
    <p>
    Nevidíte svoji ingredienci?
    <a href="{% url 'pridat_ingredienci' %}" target="_blank">Přidejte ji!</a>
</p>

    <button type="submit" class="btn btn-primary">Přidat recept</button>
</form>


{% endblock %}
