{% extends "base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 600px;">
    <h2 class="title is-3 mb-4">{{ recipe.title }}</h2>
    {% if recipe.image %}
        <figure class="image is-4by3 mb-4" style="max-width: 300px;">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        </figure>
    {% endif %}
    <p class="mb-4">{{ recipe.description }}</p>
    <p><strong>Autor:</strong> {{ recipe.autor.username }}</p>
</div>
{% endblock %}
